<!-- Shell para rutas de CLIENTE -->
<ng-container *ngIf="!isAdminRoute; else adminShell">
  <app-navbar></app-navbar>

  <div class="p-0 w-100">
    <router-outlet></router-outlet>
  </div>

  <!-- Elemento invisible para pruebas unitarias que espera el test por defecto -->
  <span id="app-title" style="display: none">
    {{ title }} app is running!
  </span>

  <app-footer></app-footer>
</ng-container>

<!-- Shell para rutas de ADMIN -->
<ng-template #adminShell>
  <!-- El AdminComponent ya tiene su propio layout con sidebar -->
  <router-outlet></router-outlet>
</ng-template>
