/* === CONTENEDOR GLOBAL === */
.login-page {
  font-family: var(--mtt-font-ui) !important;
  letter-spacing: 0.2px;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  background: var(--mtt-bg);
}

/* === CARD === */
.login-card {
  width: 850px;
  background: #fff;
  padding: 70px 90px;
  border-radius: 0; /* RECTÁNGULO perfect */
  border: 1px solid #eee;
  box-shadow:
    0px 40px 90px rgba(0, 0, 0, 0.12),
    0px 10px 25px rgba(0, 0, 0, 0.08);
}

.login-logo {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 18px;
}

.login-logo-icon {
  width: 48px;
  height: 48px;
  background-image: url('/assets/brand/marriott-international-logo-m.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.login-title {
  font-family: var(--mtt-font-brand);
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.login-subtitle {
  font-family: var(--mtt-font-ui);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}


.login-field {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

.login-field input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 15px;
  font-family: var(--mtt-font-ui);
}


.password-row {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url('/assets/icons/eye2.svg'); 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
}


.password-toggle--visible {
  background-image: url('/assets/icons/eye1.svg'); 
}


.login-error {
  font-size: 13px;
  color: #c0392b;
  margin-top: 4px;
}


.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
}


.login-register-text {
  font-size: 14px;
  margin-bottom: 30px;
}


.login-button {
  width: 280px;
  background: #555;
  padding: 14px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.login-button:disabled {
  background: #b1b1b1;
  cursor: not-allowed;
}
